.footer__column-link{
    margin: 0px;
    padding: 0px;
    color: white;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
  }

.footer__column-link:hover{
  opacity: .2;
}