.footer__column-links{
    margin: 0px;
    padding: 0px;
    list-style: none;
    top: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
  }